/Ejercicios expresiones regulares
/Ejercicios filtros (I)
/Ejercicios filtros (II)
/Ejercicios filtros (III)
04-comandos (III) - expresiones regulares
05-comandos (IV) - introduccion a filtros
06-comandos (V) - filtros (I)
07-comandos (VI) - filtros (II)
08-comandos (VII) - filtros (III)
09-comandos (VIII) - sustitucion comandos