UT06 - SSOO. Gestion de la informacion/Ejercicios expresiones regulares
UT06 - SSOO. Gestion de la informacion/Ejercicios filtros (I)
UT06 - SSOO. Gestion de la informacion/Ejercicios filtros (II)
UT06 - SSOO. Gestion de la informacion/Ejercicios filtros (III)
UT06 - SSOO. Gestion de la informacion/04-comandos (III) - expresiones regulares.md
UT06 - SSOO. Gestion de la informacion/05-comandos (IV) - introduccion a filtros.md
UT06 - SSOO. Gestion de la informacion/06-comandos (V) - filtros (I).md
UT06 - SSOO. Gestion de la informacion/07-comandos (VI) - filtros (II).md
UT06 - SSOO. Gestion de la informacion/08-comandos (VII) - filtros (III).md
UT06 - SSOO. Gestion de la informacion/09-comandos (VIII) - sustitucion comandos.md