/Ejercicios expresiones regulares
/Ejercicios filtros (I)
/Ejercicios filtros (II)
/Ejercicios filtros (III)
04-comandos (III) - expresiones regulares.md
05-comandos (IV) - introduccion a filtros.md
06-comandos (V) - filtros (I).md
07-comandos (VI) - filtros (II).md
08-comandos (VII) - filtros (III).md
09-comandos (VIII) - sustitucion comandos.md